<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Satisfy&family=Supermercado+One&family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <div class="header">
      <nav>
        <div class="top">
          <div class="top-under">
            <a href="home.ejs"><i class="ri-grid-fill navbar"></i></a>
            <a href="/home"><span class="navbar">COLLECTIONS</span></a>
            <a href="Shop.html"><span class="navbar">SHOP</span></a>
            <a href=""><span class="navbar">CONTACT US</span></a>
            <a href="Account.html"><span><i class="navbar ri ri-account-pin-circle-line"></i></span></a>
            <a href=""><span><i class="navbar ri ri-shopping-bag-line"></i></span></a>
          </div>

          <div class="footer-col-1-1">
            <p class="BECH">Bechelor <em class="shop">Shop</em></p>
          </div>
        </div>

        <div class="home-shop">
          <h1>CHILDREN ZONE</h1>
          <p>HOME > CHILDREAN</p>
        </div>

        <hr>
      </nav>
    </div>

    <div class="small-container  cart-page">
            <table>
                <tr>
                    <th>product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>

                <% for(let ca of cart) { %>
                    <tr class="cartDetails">
                        <td>
                            <div class="cart-info">
                                <img src="<%= ca.image1 %>" alt="">
                                <div>
                                    <p><%= ca.name %></p>
                                    <small>Price: ₹<span class="price"><%= ca.price %></span></small>
                                    <br>
                                    <a href="#" id="delete-cart" data-id="<%= ca._id %>">Remove</a>
                                </div>
                            </div>
                        </td>
                        <td><input class="quentity"   type="number" value="1"></td>
                        <td>₹ <span class="totalPrice"><%= ca.price %></span></td>
                    </tr>
                     
                    <% } %>

            </table>


            <div class="total-price">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>₹ <span class="allTotalPrice">0</span></td>
                    </tr>
                    
                </table>
            </div>
        </div>

  

    <div class="footer">
        <div class="container">
            <div class="row-4">
                <div class="footer-col-1">
                    <p class="BECH">Bechelor <em class="shop">Shop</em></p>
                </div>
                <div class="footer-col-2">
                    <h4>MENU</h4>
                    <p>COLLECTIONS</p>
                    <P>SHOP</P>
                    <p>BLOG</p>
                    <p>UNISEX</p>
                </div>
                <div class="footer-col-3">
                    <h4>REACH US</h4>
                    <p>CONTACT US</p>
                    <P>FAQ</P>
                    <P>NEWS</P>
                    <P>CARRER</P>
                    <P>INVESTORS</P>
                </div>
                <div class="footer-col-4">
                    <h4>SOCIALS</h4>
                    <a href=""><i class="ri-facebook-circle-fill"></i>
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""><i class="ri-google-fill"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">CopyRight 2022 - BechelorShop</p>
    </div>

    <script>

        let cartDetails = document.querySelectorAll('.cartDetails')

        let allTotalPrice = 0;

        cartDetails.forEach((cart) => {
            cart.querySelector('.quentity').addEventListener('change', () => {
                cart.querySelector('.totalPrice').textContent = cart.querySelector('.price').textContent * cart.querySelector('.quentity').value;
                
               
            })
            allTotalPrice += Number(cart.querySelector('.totalPrice').textContent);

            
            
        })
        document.querySelector('.allTotalPrice').textContent = allTotalPrice;
    
        


    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#delete-cart').on('click', function(e){
                $target = $(e.target);
                console.log($target.attr('data-id'))
                const id = $target.attr('data-id');
                $.ajax({
                    type:'DELETE',
                    url: '/cart_delete/'+id,
                    success: function(response){
                        window.location.href='/cart'
                    },
                    error: function(err){
                        console.log(err);
                    }


                })
            })
        })
    </script>
  </body>
</html>