<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Poppins:wght@300;400;500;600;700&family=Satisfy&family=Supermercado+One&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="top">
                <div class="top-under">
                    <a href="home.ejs"><i class="ri-grid-fill navbar"></i></a>
                    <a href="#collection"><span class="navbar">COLLECTIONS</span></a>
                    <a href="Shop.html"><span class="navbar">SHOP</span></a>
                    <a href=""><span class="navbar">CONTACT US</span></a>
                    <a href="Account.html"><span><i class="navbar ri-login ri-account-pin-circle-line"></i></span></a>
                    <a href="Cart.html"><span><i class="navbar ri ri-shopping-bag-line"></i></span></a>
                </div>
                
            </div>
        </nav>
            <div class="row">
                <div class="socialmedia">
                    <li><a href=""><i class="ri-facebook-circle-fill"></i></a></li>
                    <li><a href=""><i class="ri-twitter-fill"></i></a></li>
                    <li><a href=""><i class="ri-instagram-fill"></i></a></li>
                    <li><a href=""><i class="ri-google-fill"></i></a></li>
                </div>
                <div class="col-1">
                    <h1>
                        LETS MAKE  <br>
                        YOU LOOK AWESOME
                    </h1>
                    <div class="btn">GET START</div>
                </div>
                <div class="box1">
                    <div class="img-1"><img src="https://images.pexels.com/photos/1707828/pexels-photo-1707828.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                    <div class="img-2"><img src="https://images.pexels.com/photos/818992/pexels-photo-818992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""></div>
                    <!-- <div class="img-3"><img src="https://images.pexels.com/photos/6567737/pexels-photo-6567737.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div> -->
                </div>

               
                
            </div>
            <div class="text">
                <p class="text1">The way you dress speaks a lot about your personality. Give us at <em>"BechelorShop"</em>  to handle anything Fashion for you. We gat you covered.<i class="leaf ri-leaf-fill"></i></p>
            </div>
    </div>


    <div class="collection">
        <div class="box">
            <h2 class="title">COLLECTIONS</h2>
            <div class="col-3">
                <a href="/Children"><img src="image/Group 1.jpg" alt="" class="child" ></a>
            </div>
            <div class="col-3">
                <a href="/mens"><img src="image/Group 2.jpg" alt="" class="mens" ></a>
            </div>
            <div class="col-3">
                <a href="/womens"><img src="image/Group 3.jpg" alt="" class="women" ></a>
            </div>
        </div>
    </div>

    <div class="categories">
        <div class="small-container">
            <h2 class="title">FEATURED PRODUCT</h2>
            <div class="row2">
                
                   
                   
                    <% for(let fa of fash) { %>
                        <div class="col-4">
                            <a href="/productDetails/<%= fa.id %>"><img src=<%= fa.images %>~<%= fa.images %>  alt=""></a>
                            <a href=""><%= fa.name%></h4></a>
                            <div class="rating">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <p>INR <%= fa.price %></p>
                        </div>
                          <% } %>
                      
               
               
            </div>
        </div>
    </div>

    <div class="dressofweak">
        <div class="small-container1">
            <h2 class="title">DRESS OF THE WEAK</h2>
            <div class="row-3">
                <div class="col-3">
                    <img src="image/Rectangle15.jpg" alt="" class="dress-1">
                </div>
                <div class="col-31">
                    <img src="image/GirlDesign1.jpg" alt="" class="dress-2">
                </div>
                <div class="col-3">
                    <img src="image/Rectangle16.jpg" alt="" class="dress-3">
                </div>
            </div>
        </div>
    </div>

    <div class="btn1">VIEW MORE</div>

    <div class="footer">
        <div class="container">
            <div class="row-4">
                <div class="footer-col-1">
                    <p class="BECH">Bechelor <em class="shop">Shop</em></p>
                </div>
                <div class="footer-col-2">
                    <h4>MENU</h4>
                    <p>COLLECTIONS</p>
                    <P>SHOP</P>
                    <p>BLOG</p>
                    <p>UNISEX</p>
                </div>
                <div class="footer-col-3">
                    <h4>REACH US</h4>
                    <p>CONTACT US</p>
                    <P>FAQ</P>
                    <P>NEWS</P>
                    <P>CARRER</P>
                    <P>INVESTORS</P>
                </div>
                <div class="footer-col-4">
                    <h4>SOCIALS</h4>
                    <a href=""><i class="ri-facebook-circle-fill"></i>
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""><i class="ri-google-fill"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">CopyRight 2022 - BechelorShop</p>
    </div>
</body>
</html>
